{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% add_lang_files "firefox/shared" %}

{% from "macros-protocol.html" import hero, picto_card with context %}

{% extends "firefox/base/base-protocol.html" %}

{% block page_title %}{{_('')}}{% endblock %}

{% block page_desc %}{{ _('') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('features-pages') }}
{% endblock %}

{% block body_id %}firefox-features{% endblock %}
{% block body_class %}firefox-features{% endblock %}

{% call hero(
    title='Firefox features',
    desc='Firefox is the fast, lightweight, privacy-focused browser that works across all your devices.',
    class='mzp-has-image mzp-t-dark',
    include_cta=True,
    image_url='img/firefox/new/trailhead/browser-window.svg',
    heading_level=1
  ) %}
    {{ download_firefox(alt_copy='Download the latest Firefox', download_location='primary cta') }}
  {% endcall %}
